APP_NAME="Enterprise Agent Platform"
APP_VERSION="v1"



### Qdrant
QDRANT_URL=
QDRANT_ITEMS_COLLECTION_NAME=
QDRANT_REVIEWS_COLLECTION_NAME=




###COHERE
COHERE_API_KEY=
COHERE_EMBEDDING_MODEL=
COHERE_BASE_URL=


###OPENROUTER
OPENROUTER_BASE_URL=
OPENROUTER_API_KEY=
EMBEDDING_MODEL=
VECTOR_SIZE=


###OLLAMA
OLLAMA_BASE_URL=
OLLAMA_API_KEY=
OLLAMA_MODEL_NAME=

