APP_NAME="Enterprise Agent Platform"
APP_VERSION="v1"

##NOTE: we use LiteLLM to handle multi-provider, so we must sepicify the model provider before model name
### Exmaple for openai => openai/gpt-4.1

### Qdrant
QDRANT_URL=
QDRANT_ITEMS_COLLECTION_NAME=
QDRANT_REVIEWS_COLLECTION_NAME=


###Postgres

DATABASE_URL=
PRESISTANCE_STATE_URL=

###COHERE
COHERE_API_KEY=
COHERE_BASE_URL=
COHERE_EMBEDDING_MODEL=
COHERE_RERANKING_MODEL=


###OPENROUTER
OPENROUTER_BASE_URL=
OPENROUTER_API_KEY=
EMBEDDING_MODEL=
VECTOR_SIZE=


###OLLAMA
OLLAMA_BASE_URL=
OLLAMA_API_KEY=
OLLAMA_MODEL_NAME=

###OpenAI
OPENAI_API_KEY=


###Langsmith
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=


### Streamlit
API_URL= 
